workflow.json
{
  "name": "Newsletter Link Digest to RSS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "labelIds": [
            "REPLACE_WITH_YOUR_LABEL_ID"
          ]
        },
        "options": {}
      },
      "id": "node-gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}?format=full",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "id": "node-fetch-message",
      "name": "Fetch Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getBodyParts(payload) {\n  const parts = { html: '', text: '' };\n\n  function decode(data) {\n    if (!data) return '';\n    const base64 = data.replace(/-/g, '+').replace(/_/g, '/');\n    return Buffer.from(base64, 'base64').toString('utf-8');\n  }\n\n  function traverse(part) {\n    if (!part) return;\n    if (part.mimeType === 'text/html' && part.body?.data) {\n      parts.html = decode(part.body.data);\n    } else if (part.mimeType === 'text/plain' && part.body?.data) {\n      parts.text = decode(part.body.data);\n    }\n    if (part.parts) part.parts.forEach(traverse);\n  }\n\n  traverse(payload);\n  return parts;\n}\n\nreturn items.map(item => {\n  const json = item.json;\n\n  const headers = json.payload?.headers || [];\n  const getHeader = name => headers.find(h => h.name.toLowerCase() === name.toLowerCase())?.value || '';\n\n  const subject = getHeader('subject') || 'Untitled newsletter';\n  const from = getHeader('from') || 'Unknown sender';\n  const date = getHeader('date') || new Date().toISOString();\n\n  const senderEmail = (\n    from.match(/[\\w.+-]+@[\\w.-]+/)?.[0] || 'unknown'\n  ).toLowerCase();\n\n  const senderSlug = senderEmail\n    .replace(/@.*$/, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .slice(0, 40);\n\n  const { html, text } = getBodyParts(json.payload);\n\n  const sourceMessageId = json.id || `${senderEmail}-${subject}-${date}`;\n\n  return {\n    json: { subject, from, senderEmail, senderSlug, date, html, text, sourceMessageId },\n  };\n});"
      },
      "id": "node-normalize",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.subject }}\nFrom: {{ $json.from }}\n\n{{ $json.html || $json.text }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You extract article links from newsletter emails and return JSON.\n\nOutput format: {\"links\": [{\"url\": \"https://...\", \"title\": \"Article Title\", \"description\": \"1-2 sentence summary of what the article covers\"}]}\n\nRules:\n- Extract only meaningful article/content links (blog posts, articles, tools, resources)\n- Skip: tracking URLs, social media (twitter/x.com, facebook, instagram, linkedin, youtube, tiktok, threads), unsubscribe/preferences/manage-subscription links, image files (.png/.jpg/.gif/.svg/.webp/.ico), root domains with no path, email platform links (mailchimp, beehiiv, substack, convertkit, sendgrid, buttondown)\n- Clean URLs: strip tracking params (utm_*, mc_cid, mc_eid, fbclid, gclid, etc.), unwrap redirect/tracking wrappers\n- Titles: use anchor text if descriptive, otherwise infer from URL path and context\n- Descriptions: extract or synthesize 1-2 sentences about the article from surrounding newsletter text; if no context is available, leave as empty string\n- Deduplicate by URL\n- If no content links found, return {\"links\": []}"
            }
          ]
        }
      },
      "id": "node-ai-extract",
      "name": "AI Extract Links",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "id": "node-openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        780,
        520
      ],
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_ME",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const responseText = items[i].json.text || items[i].json.response || '';\n  const directLinks = items[i].json.links;\n\n  const emailData = $('Normalize Email').all()[i]?.json || {};\n  const { subject, from: senderFrom, senderEmail, senderSlug, date, sourceMessageId } = emailData;\n\n  let links = [];\n  if (Array.isArray(directLinks) && directLinks.length > 0) {\n    links = directLinks;\n  } else if (responseText) {\n    try {\n      let jsonStr = responseText;\n      const codeBlockMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (codeBlockMatch) jsonStr = codeBlockMatch[1];\n      const parsed = JSON.parse(jsonStr.trim());\n      links = parsed.links || parsed;\n    } catch (e) {\n      const jsonMatch = responseText.match(/\\{[\\s\\S]*\"links\"[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        try { links = JSON.parse(jsonMatch[0]).links || []; } catch {}\n      }\n    }\n  }\n\n  if (!Array.isArray(links)) links = [];\n\n  for (const link of links) {\n    if (!link.url) continue;\n    output.push({\n      json: {\n        url: link.url,\n        title: link.title || link.url,\n        description: link.description || '',\n        anchorText: link.title || '',\n        newsletterSubject: subject,\n        newsletterFrom: senderFrom,\n        senderEmail,\n        senderSlug,\n        newsletterDate: date,\n        sourceMessageId,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "node-parse-ai",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst output = [];\nfor (const item of items) {\n  const key = item.json.url;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  output.push(item);\n}\nreturn output;"
      },
      "id": "node-dedupe-run",
      "name": "Deduplicate Within Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst feedToken = process.env.FEED_TOKEN;\nconst statePath = `/feeds/${feedToken}/state.json`;\n\nlet existingItems = [];\nif (fs.existsSync(statePath)) {\n  try { existingItems = JSON.parse(fs.readFileSync(statePath, 'utf8')); } catch { existingItems = []; }\n}\n\nreturn [{ json: { existingItems, newItems: items.map(i => i.json), feedToken } }];"
      },
      "id": "node-read-state",
      "name": "Read Existing State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction guidForUrl(url) {\n  return crypto.createHash('sha256').update(url).digest('hex').slice(0, 32);\n}\n\nconst { existingItems, newItems, feedToken } = items[0].json;\nconst byGuid = new Map();\n\nfor (const item of existingItems) byGuid.set(item.guid, item);\n\nlet addedCount = 0;\nfor (const item of newItems) {\n  const guid = guidForUrl(item.url);\n  if (byGuid.has(guid)) continue;\n  byGuid.set(guid, {\n    guid,\n    title: item.title || item.anchorText || item.url,\n    description: item.description || '',\n    link: item.url,\n    pubDate: new Date(item.newsletterDate || Date.now()).toUTCString(),\n    sourceNewsletter: item.newsletterSubject,\n    sourceFrom: item.newsletterFrom,\n    senderSlug: item.senderSlug,\n    senderEmail: item.senderEmail,\n    addedAt: new Date().toISOString(),\n  });\n  addedCount++;\n}\n\nconst merged = [...byGuid.values()].sort((a, b) => new Date(b.addedAt) - new Date(a.addedAt)).slice(0, 500);\n\nreturn [{ json: { items: merged, feedToken, addedCount, totalCount: merged.length } }];"
      },
      "id": "node-merge-dedupe",
      "name": "Merge and Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction escapeXml(value) {\n  return String(value || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&apos;');\n}\n\nfunction extractDomain(email) {\n  if (!email) return null;\n  const match = email.match(/@([^>\\s]+)/);\n  return match ? match[1] : null;\n}\n\nfunction extractSenderName(from) {\n  if (!from) return null;\n  const nameMatch = from.match(/^\\s*\"?([^\"<]+?)\"?\\s*</);\n  return nameMatch ? nameMatch[1].trim() : from.replace(/<[^>]+>/, '').trim() || null;\n}\n\nfunction generateRss(feedTitle, feedDescription, feedLink, feedItems, imageUrl) {\n  const rssItems = feedItems.map(item => `  <item>\n    <title>${escapeXml(item.title)}</title>\n    <link>${escapeXml(item.link)}</link>\n    <guid isPermaLink=\"false\">${escapeXml(item.guid)}</guid>\n    <pubDate>${item.pubDate}</pubDate>\n    <description>${escapeXml((item.description ? item.description + ' \u2014 ' : '') + 'From: ' + (item.sourceNewsletter || 'newsletter') + ' (' + (item.sourceFrom || '') + ')')}</description>\n    <source url=\"${escapeXml(feedLink)}\">${escapeXml(item.sourceNewsletter || 'Newsletter')}</source>\n  </item>`).join('\\n');\n\n  const imageBlock = imageUrl ? `\n  <image>\n    <url>${escapeXml(imageUrl)}</url>\n    <title>${escapeXml(feedTitle)}</title>\n    <link>${escapeXml(feedLink)}</link>\n  </image>` : '';\n\n  return `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n<channel>\n  <title>${escapeXml(feedTitle)}</title>\n  <link>${escapeXml(feedLink)}</link>\n  <description>${escapeXml(feedDescription)}</description>\n  <language>en</language>\n  <lastBuildDate>${new Date().toUTCString()}</lastBuildDate>\n  <atom:link href=\"${escapeXml(feedLink)}\" rel=\"self\" type=\"application/rss+xml\"/>${imageBlock}\n${rssItems}\n</channel>\n</rss>`;\n}\n\nconst { items: feedItems, feedToken, addedCount, totalCount } = items[0].json;\nconst feedsDir = `/feeds/${feedToken}`;\nconst feedsDomain = process.env.FEEDS_DOMAIN || 'feeds.example.com';\nconst baseUrl = `https://${feedsDomain}/${feedToken}`;\n\nfs.mkdirSync(feedsDir, { recursive: true });\n\nconst allXml = generateRss('Newsletter Links', 'All links extracted from newsletters', `${baseUrl}/all.xml`, feedItems);\nfs.writeFileSync(path.join(feedsDir, 'all.xml'), allXml, 'utf8');\n\nconst bySlug = {};\nfor (const item of feedItems) {\n  const slug = item.senderSlug || 'unknown';\n  if (!bySlug[slug]) bySlug[slug] = [];\n  bySlug[slug].push(item);\n}\n\nconst feedFiles = ['all.xml'];\nfor (const [slug, slugItems] of Object.entries(bySlug)) {\n  const filename = `${slug}.xml`;\n  const domain = extractDomain(slugItems[0]?.senderEmail || slugItems[0]?.sourceFrom || '');\n  const faviconUrl = domain ? `https://www.google.com/s2/favicons?domain=${domain}&sz=128` : null;\n  const senderName = extractSenderName(slugItems[0]?.sourceFrom) || slug;\n  const xml = generateRss(`${senderName} Links`, `Links from ${senderName}`, `${baseUrl}/${filename}`, slugItems, faviconUrl);\n  fs.writeFileSync(path.join(feedsDir, filename), xml, 'utf8');\n  feedFiles.push(filename);\n}\n\nfs.writeFileSync(path.join(feedsDir, 'state.json'), JSON.stringify(feedItems, null, 2), 'utf8');\n\nreturn [{ json: { status: 'ok', addedCount, totalCount, feedFiles, combinedFeedUrl: `${baseUrl}/all.xml`, perNewsletterFeeds: Object.keys(bySlug).map(s => `${baseUrl}/${s}.xml`) } }];"
      },
      "id": "node-generate-rss",
      "name": "Generate RSS and Write Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Fetch Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Message": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "AI Extract Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extract Links",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Links": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Deduplicate Within Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Within Run": {
      "main": [
        [
          {
            "node": "Read Existing State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing State": {
      "main": [
        [
          {
            "node": "Merge and Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge and Deduplicate": {
      "main": [
        [
          {
            "node": "Generate RSS and Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "REPLACE_ME"
}